.leaderboard-left{
    background-color:#E6E6E6;
}

.leaderboard-right{
    background-color:#D9D9D9;
}

.leaderboard{
    margin-top: 10%;
    text-align: center;
    border-radius: 12px; 
    border-bottom: 1px solid #000;
}

.leaderboard-item{ 
    text-align: center;
    border-radius: 12px;
}